html,
body {
  margin: 0%;
  padding: 0%;
}

#main {
  display: grid;
}

* {
  box-sizing: border-box;
}

:has(.noScroll) {
  overflow: hidden;
}

@media print {
  .noPrint {
    display: none !important;
  }
}

.hide {
  display: none !important;
}
